html, body {
    overflow-x: hidden;
    min-height: calc(100% + 1px);
    margin: 0;
  }
  
  body {
    position: relative;
    margin: 0;
    padding: 0;
    background: #222;
}

#canvas-container {
    width: 100%;
    height: 100%;
    text-align: center;
 }

canvas {
    display: inline;
    height: 90%;
    margin:auto;
 }

@media only screen and (max-width : 1024px) and (orientation : landscape) {    
    canvas {
        height: 100%;
    }
}

  