html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
  }
  
  body {
    position: relative;
    margin: 0;
    padding: 0;
    background: #222;
}

#canvas-container {
    width: 800px;
    height: 500px;
    text-align: center;
    background-color: #78C2FF;
    margin: 0 auto
 }

canvas {
    display: inline;
    height: 100%;
    margin:auto;
 }

@media only screen and (max-width : 1024px) and (orientation : landscape) {    
    canvas {
        height: 100%;
    }
}

  